.header_name{  color:blue; }

a{
    color:black;
    text-decoration:none;
    outline : none;
}
ul{ list-style-type:none; }
.webbox{
    width : 1000px;
    margin :0 auto;
}
.logo{ width : 25%;}

.header{
    display : flex;
    justify-content : space-between;
}

.top_menu{
    display : flex;
    justify-content : space-between;
}

.top_menu li{ margin-left : 20px;}

.box{
    width : 1000px;
    margin : 0 auto;
}

.box h3{text-align: center;}



.inform{
    text-align: center;
    margin : 0 auto;
    width :850px;
}

.main{margin : 0 auto;}
.person{margin : 0 auto; height : 130px; width :850px;}
.picture{ width : 130px; }
.intro{ }
.grade{ width : 150px;}

.item{ width : 200px;}
.point{ width : 200px; }
.grape{ width : 400px;}