<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3> 카테고리 추가</h3>
    <input type="text" class="c_add"> <br>
    <button type="button" onclick="c_add()"> 카테고리 등록</button>

    <h3> 카테고리 리스트</h3>
    <div class="c_list"> </div>

    <h3> 방문록 쓰기 </h3>
    <input type="text" class="v_add"><br>
    <button type="button" class="v_add()"> 방문록 쓰기</button>

    <h3> 방문록 리스트 </h3>
    <div class="v_list"> </div>


  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../js/Nonboard/Non_index.js"> </script>

</body>
</html>